body {
  background-color: rgba(33, 33, 33, 0.1) !important;
  margin: 0 !important;
  padding: 0;
}
section {
  margin: 3rem auto;
  width: 80vw;
  height: auto;
}
table {
  background-color: white;
  margin-bottom: 3rem !important;
}
th,
td {
  width: 33%;
}
